
#ApolloImageSelector .dialogbox {
	margin: 0px;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
	border-style: solid;
	border-color: #6b6b6b;
	background-color: #ededed;
	border-width: 1px;
	/*width: 95%;*/
	height: auto;
}

#ApolloImageSelector dialog_h2 {
	font-family: Arial, Arial, Helvetica, sans-serif;
	color: #24628a;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 5px;
}
/*
#ApolloImageSelector .imageWrapper {
	width: 80px;
	height: 90px;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
}

#ApolloImageSelector .thumbWrapper {
	width: 68px;
	height: 68px;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
}
*/
#ApolloImageSelector .thumb {
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	border-width: 4px;
	border-style: solid;
	/*border-color: #cccccc;*/
	border-color: white;
	z-index: 1;
}

#ApolloImageSelector .dragged_thumb {
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	border-width: 4px;
	border-style: solid;
	border-color: #8bb7ec;;
	z-index: 1;
}

#ApolloImageSelector .multiselected {
	border-color: #8bb7ec;
}

#ApolloImageSelector .imageTitle {
	color: #3e608a;
	width: 80px;
	font-size: 8px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#ApolloImageSelector .imageSize {
	color: #999999;
	width: 80px;
	font-size: 8px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	margin-top: -6px;
}



#ApolloImageSelector .folder_name {
	padding-left: 30px;
	padding-top: 2px;
	font-size: 12px;
}

#ApolloImageSelector .folder_name_selected {
	padding-left: 30px;
	padding-top: 2px;
	font-size: 12px;
	color: #136ab9;
}

#ApolloImageSelector .apollo_folder {
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	overflow: hidden;
}

#ApolloImageSelector .apollo_folder:hover { color: #aaaaaa;}

#ApolloImageSelector .apollo_system_folder {
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	overflow: hidden;
}

#ApolloImageSelector .apollo_system_folder:hover { color: #aaaaaa;}

#ApolloImageSelector .apollo_folder_droppable_hover {
	color: black;
	background-color: #c3d3df;
}


#apollo_title_feedback {
	color: #559b5c;
	font-size: 14px;
	margin-left: 20px;
}

#apollo_title_folder_name {
	color: gray;
	font-size: 14px;
	margin-left: 5px;
}

#ApolloImageSelector .view_options {
	color: gray;
	font-size: 10px;
	padding-right: 5px;
	padding-left: 15px;
	float: right;	
	cursor: pointer;
}

#ApolloImageSelector .view_options:hover {color: #559b5c}

/* Folder Pop-up context menu /////////////////////////// */

#ApolloImageSelector .rightClickMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none; 
}

#ApolloImageSelector .rightClickMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#ApolloImageSelector .rightClickMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

#ApolloImageSelector .rightClickMenu LI:hover A {
	color: #FFF;
	background-color: #3399FF;
}

#ApolloImageSelector .rightClickMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

#ApolloImageSelector .rightClickMenu LI.hover.disabled A {
	background-color: transparent;
}

#ApolloImageSelector .rightClickMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

#ApolloImageSelector .rightClickMenu LI.edit A { background-image: url(images/menu_images/page_white_edit.png); }
#ApolloImageSelector .rightClickMenu LI.cut A { background-image: url(images/menu_images/cut.png); }
#ApolloImageSelector .rightClickMenu LI.copy A { background-image: url(images/menu_images/page_white_copy.png); }
#ApolloImageSelector .rightClickMenu LI.paste A { background-image: url(images/menu_images/page_white_paste.png); }
#ApolloImageSelector .rightClickMenu LI.delete A { background-image: url(images/menu_images/page_white_delete.png); }
#ApolloImageSelector .rightClickMenu LI.quit A { background-image: url(images/menu_images/door.png); }