RewriteEngine On
#RewriteBase /

#RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
#RewriteRule (.*) //%1/$1 [L,R=301]

#
# Hard coding for CGP - LEAVE ALONE!!!!!!!!!!!!
#

RewriteRule ^mediatag/([^/\.]+)/?$ /admin/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^charlottegeary.com
RewriteRule ^wedding-ideas/([^/\.]+)/?$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^charlottegeary.com
RewriteRule ^weddingideas/([^/\.]+)/?$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^charlottegeary.com
RewriteRule ^wedding-ideas/([^/\.]+)/?.html$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^charlottegeary.com
RewriteRule ^weddingideas/([^/\.]+)/?.html$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^www.charlottegeary.com
RewriteRule ^wedding-ideas/([^/\.]+)/?$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^www.charlottegeary.com
RewriteRule ^weddingideas/([^/\.]+)/?$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^www.charlottegeary.com
RewriteRule ^wedding-ideas/([^/\.]+)/?.html$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]

RewriteCond %{HTTP_HOST} ^www.charlottegeary.com
RewriteRule ^weddingideas/([^/\.]+)/?.html$ /admin/themes/Prometheus-CGP4/getimages.php?tag=$1 [L]


# http://example.com/feed/ - defaults to rss
# http://example.com/feed/rss/
# http://example.com/feed/rss2/
# http://example.com/feed/rdf/
# http://example.com/feed/atom/

# Blog feeds....
RewriteCond $1 ^(.*)/feed/rss$ [OR]
RewriteCond $1 ^(.*)/feed/rss/$
RewriteRule ^(.*)$ /admin/feed.php?type=rss [L]

RewriteCond $1 ^(.*)/feed/rss2$ [OR]
RewriteCond $1 ^(.*)/feed/rss2/$
RewriteRule ^(.*)$ /admin/feed.php?type=rss2 [L]

RewriteCond $1 ^(.*)/feed/atom$ [OR]
RewriteCond $1 ^(.*)/feed/atom/$
RewriteRule ^(.*)$ /admin/feed.php?type=atom [L]

RewriteCond $1 ^(.*)/feed$ [OR]
RewriteCond $1 ^(.*)/feed/$ 
RewriteRule ^(.*)$ /admin/feed.php?type=rss2 [L]


# robots.txt redirect
RewriteCond $1 ^robots.txt
RewriteRule ^(.*)$ /robots.php [L]

# Sitemap.xml redirect
RewriteCond $1 ^Sitemap.xml
RewriteRule ^(.*)$ /sitemap.php [L]

# Sitemap.xml redirect
RewriteCond $1 ^sitemap.xml
RewriteRule ^(.*)$ /sitemap.php [L]
 
# If the file and directory does not exist, redirect
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /index.php [L]

# See http://www.bloghash.com/2006/12/apache-mod_rewrite-examples/ for good exmaples

<IfModule mod_security.c>
<Files async-upload.php>
SecFilterEngine Off
SecFilterScanPOST Off
</Files>
</IfModule>

