RewriteEngine On
#RewriteBase /

# If the file and directory does not exist, redirect
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /index.php [L]

# See http://www.bloghash.com/2006/12/apache-mod_rewrite-examples/ for good exmaples

<IfModule mod_security.c>
<Files async-upload.php>
SecFilterEngine Off
SecFilterScanPOST Off
</Files>
</IfModule>

