/* Node Styles /////////////////////////////////////////////////////// */

#WhiteBoard .Yellow {
	background-color: #f5f06a;
	border: 1px solid #cccc00;
}

#WhiteBoard .Blue {
	background-color: #b1daee;
	border: 1px solid #669999;
}

#WhiteBoard .Red {
	background-color: #fee1e7;
	border-color: red;
	border: 1px solid #cc9999;
}

#WhiteBoard .Green {
	background-color: #c4ef93;
	border: 1px solid #99cc66;
}

#WhiteBoard .Postit {
	font-size: 10px;
	z-index: 100;
	position: absolute;
	width: 90px;
	min-height: 80px;
	overflow: hidden;
}

/* Whiteboard Frame Styles /////////////////////////////////////////////////////// */

#WhiteBoard {
}


#WhiteBoard .task_title {
	color: #555555;
	padding: 4px;
	font-family: Arial;	
	font-size: 12px;
}

#WhiteBoard .task_edit {
	position:relative; 
	top: 4px; 
	left: 4px; 
	float:left;
	margin-right: 8px;
}