.apolloPageBreak {
	border-style: solid;
	border-color: #aaaaaa;
	border-width: 1px;
	background-color: #ebebeb;
	padding-left: 5px;
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
		
html, body {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	/* Check out http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html for safe x-browser font families */
	font-size: 11px;
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
    background-color: white;
}

h1 {
	font-size: 18px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

h2 {
	font-size: 16px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 {
	font-size: 14px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

p {
	font-size: 12px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

a { 
	text-decoration: none;
	outline:none;
}
		
img {
	margin-top:10px;
	margin-bottom:10px;
}