		
html, body {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	/* Check out http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html for safe x-browser font families */
	font-size: 11px;
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	/*
	-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;	
    */
    background-color: white;
}

/* ie6 png fix 
div { behavior: url("iepngfix.htc") }
*/

#content {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 10;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

p {
	font-size: 12px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

a { 
	text-decoration: none;
	outline:none;
}
		
/* Popup Pages //////////////////////////////////// */

#popupPage {
	z-index:20;
}

#popupPage .closePopup {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	float: left;
	top: -18px;
	left: -10px; 
}

#popupPage .closePopup:hover {
	color: #adadad;
}

#popupPage .scrollWrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
}

#popupPage .popupContent {
	width: 100%;
	height: 100%;
	overflow: visible;
	padding: 0;
	margin: 0;	
	font-size: 14px;
	padding: 0;
	margin: 0;
	height: 100%;
	display: block;	
}

#popupPage .popupContent h1 {
	color: #9b0100;
	font-size: 28px;
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	/*
	padding-left: 20px;
	margin-bottom: 20px;
	border-bottom: solid black;
	border-bottom-width: 1px;
	*/
}

#popupPage .popupContent h2 {
	color: #9b0100;
	font-size: 22px;
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	/*
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: solid black;
	border-bottom-width: 1px;
	*/
}

.curved {
	padding-bottom: 50px !important;
}

/* Blog Styles //////////////////////////////////// */

#blogPage {
	width: 100%;
	margin-bottom: 80px;
}

#blogPage a {
	text-decoration: none;
}

#blogPage .postWrapper {
	width: 80%;
	max-width: 900px;
	margin-top: 10px;
	padding: 20px;
}


#blogPage .dateWrapper {
	width:50px;
	border-left: solid;
	border-right: solid;
	border-width: 1px;
	text-align: center;
	display: inline-block;
}

#blogPage .day {
	font-size: 18px !important;
	letter-spacing:2px;
	display: block;
}

#blogPage .month {
	font-size: 14px !important;
	letter-spacing:2px;
	display: block;
}

#blogPage .year {
	font-size: 12px !important;
	letter-spacing:2px;
	display: block;
}

#blogPage .postTitle {
/*
	display: inline-block;
	margin-left: 20px;

	position: relative;
	left: 70px;
	top: -28px;
	*/
	width: auto;
	border-bottom:solid;
	border-width:1px;
	letter-spacing: 2;
	font-size: 18px;
}

#blogPage .postContent{
	margin-top: 20px;
}

#blogPage .morePostsLink {
	font-size: 14px;
}

#blogPage .blogArchive {
	height: 100px;
}


#blogPage img {
	margin-top:10px;
	margin-bottom:10px;
}

#blogPage p {
	font-size: 12px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

#blogPage h1 {
	font-size: 18px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

#blogPage h2 {
	font-size: 16px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

#blogPage h3 {
	font-size: 14px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Menu Ribbon //////////////////////////////////// */

#menuRibbonWrapper {
	position: fixed;
	left: 0px;
	bottom: 30px;
	height:60px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index:20;

	background-color: #adadad;
	filter: alpha(opacity=60);-moz-opacity:.60;opacity:.60;

	border-style: solid;
	border-color: #7c7c7c;
	border-width: 0px;
	border-bottom-width: 2px;
	border-top-width: 2px;
}

#menuRibbon {
	position: fixed;
	left: 0px;
	bottom: 30px;
	height:60px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index:21;
	/*
	background-image: url("../common/imgs/back40.png"); 
	background-repeat: repeat;
	*/
}

#menuRibbon .logoWrapper {
	height: 60px;
	margin-left: 20px;
}

#menuRibbon .logo {
	height: 120px;
	max-width: 130px;
	top: -30px;		
	position: relative;	
}

#menuRibbon a { text-decoration: none; }

#menuRibbon .menuItem {
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	color: black;
}

#menuRibbon .menuItem:hover { color:white }

#menuRibbon .menuItemSelected { color: white; }

#menuRibbon .control {
	font-size:14px;
	cursor: pointer;
	width: 40px;
	text-align: center;
	display: inline-block;
}

#menuRibbon .controls {
	float: right;
	background-color:green;
}

#menuRibbon .controls_padding {
	float: right;
	width: 30px;
	height: 20px;
}
#menuRibbon .control:hover { color:white}


/* Contact Form ///////////////////////////////////////////////// */

#contactForm {
	overflow: hidden;
	width: 100%;
	clear: left;
}

#contactForm td {
	padding-right: 10px;
	padding-top: 5px;
}

#contactForm .dp-choose-date{
	display: none;
}

#contactForm .inputText {
	background-color: gray;
	width: 100%;
	border: none;
	margin: 0px;
	color: white;
}

#contactForm .inputTextArea {
	background-color: gray;
	width: 100%;
	border: none;
	margin: 5px;
	margin-left: 0px;
	color: white;	
}

#contactForm .formMessage{
	color: #336699;
	font-size: 12px;
	padding-left: 10px;
}

#contactForm label.error { 	
	color: red; 
	padding: 0px;
	margin: 0;
	left: -999em;
	display: none;
}

#contactForm input.error {
	border: 1px solid red;
	/* background-color: #ffdacf; */
	background-color: #9b9b9b;
}			
