		
html, body {
	font-family: GeosansLight, Sans-serif;
	font-size: 11px;
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;	
    background-color: gray;
}

#content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

p {
	font-size: 12px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

a { 
	text-decoration: none;
	outline:none;
}

/* Menu Ribbon ///////////////// */
	
#menuRibbon {
	position: absolute;
	bottom: 65px;
	height:40px;
	width: 100%;
	z-index:2;
	padding-top: 20px;
	background-image: url("../common/imgs/white80.png"); 
	background-repeat: repeat;
	/* filter: alpha(opacity=60);-moz-opacity:.60;opacity:.20;*/	
}

#menuRibbon .logo {
	margin-left: 10px;
	margin-right: 10px;
}

#menuRibbon a { text-decoration: none; }

#menuRibbon .menuItem {
	font-family:GeosansLight, Sans-serif;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	color: black;
}

#menuRibbon .menuItem:hover { color:red}

#menuRibbon .control {
	font-family:GeosansLight, Sans-serif;
	font-size:1.6em;
	float: right;
	cursor: pointer;
	width: 50px;
	text-align: center;
}

#menuRibbon .controls_padding {
	float: right;
	width: 30px;
	height: 20px;
}
#menuRibbon .control:hover { color:red}
