		
html, body {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	/* Check out http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html for safe x-browser font families */
	font-size: 11px;
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;	
    background-color: gray;
}

#content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

p {
	font-size: 12px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

a { 
	text-decoration: none;
	outline:none;
}

/* Popup Pages //////////////////////////////////// */

#popupPage {

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;

	background-image: url("../common/imgs/white90.png"); 
	background-repeat: repeat;
	
	position: absolute;
	
	width: 50%;
	height: 70%;
	top: 10%;
	left: 25%;
	
	padding: 10px;
}

#popupPage .popupContent {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;	
}

#popupPage .popupContent h2 {
	color: #9b0100;
	font-size: 22px;
}

#popupPage .popupContent .divider {
	display: block;
	width: 85%;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	border-bottom: solid black;
	border-bottom-width: 1px;
}

#popupPage .popupContent .popupText {
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
	padding: 0;
	margin: 0;
	width: 90%;
	height: 100%;
}
/*
#popupPage .popupInlineImage {
	max-width: 40%;
	float: left;
	padding-right: 10px;
	margin-top: 5px;
}
*/
/* Menu Ribbon //////////////////////////////////// */
	
#menuRibbon {
	position: absolute;
	left: 0px;
	bottom: 15px;
	height:60px;
	width: 100%;
	z-index:2;
	background-image: url("../common/imgs/white40.png"); 
	background-repeat: repeat;
	/* filter: alpha(opacity=60);-moz-opacity:.60;opacity:.20;*/	
}

#menuRibbon .logo {
	margin-left: 10px;
	margin-right: 10px;
}

#menuRibbon a { text-decoration: none; }

#menuRibbon .menuItem {
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	color: black;
}

#menuRibbon .menuItem:hover { color:white}

#menuRibbon .menuItemSelected { color: white; }

#menuRibbon .control {
	font-size:14px;
	float: right;
	cursor: pointer;
	width: 40px;
	text-align: center;
}

#menuRibbon .controls_padding {
	float: right;
	width: 30px;
	height: 20px;
}
#menuRibbon .control:hover { color:white}
