
#newsContents {
	padding: 0;
	margin: 0;
	padding-right: 40px;
	margin-bottom: 40px;
	background-color: transparent;
}


#loginBox {

	float: right;	
	display: inline-block;
	margin: 20px;
	margin-left: 40px;
	margin-bottom: 40px;
	
	margin-top: 15px;
	border-width: 2px;
	border-color: #a4a4ae;
	border-style: solid;
	background-color: #d8d9e5;
	font-size: 14px;
	color: black;
	width: 360px;
	height: 200px;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	behavior: url(border-radius.htc);		
}

#loginBox h3 {
	font-weight: normal;
	font-size: 16px;
}

#logoBox {
	width: 256px;
}

#loginForm .stats {
	color: #6d8590;
	font-size: 10px;
	display: none;
}

#loginForm .browser_info {
	margin-top: 20px;
	color: #6d8590;
	font-size: 10px;
}

.red {
	color: red;
	font-size: 14px;
}

.input_field {
	float: left;
	width: 150px;
}

label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }