/* ////////////////////////////////////////////////////////////////// */

#venuePage {
	width: 100%;
	height: 100%;
}

#venuePage .venuePageContents {
	width: 100%;
	height: 100%;
	padding-top: 35px;
}

/* ////////////////////////////////////////////////////////////////// */

#venuePage .imgContainer {
	padding-top: 20px;
	display: block;
/*
	width: 80%;
	max-width: 700px;
*/
}



#venuePage .breadcrumb {
	font-family: century gothic, optima, Lucida Sans Unicode, Verdana, Tahoma, Trebuchet MS, Helvetica, Arial;
	font-size: 9px !important;
	color: #404040;
	padding-top: 0px;
	margin-top: 0px;
	font-weight: normal;
}
