@charset "UTF-8";

html {
	overflow-y: auto;
	overflow-x: hidden;
} 

body, html {
	margin:0;
	padding: 0;
	font-family:"Arial",verdana,helvetica,sans-serif;
	width:100%;
	height:100%;
/*	background-color: #fefffe;	*/
	background-color: #e0e1ea;	
}

body,td,th { color: #000000;}

/* Global fonts ////////////////////////////////////////////// */

h1 { font-size: 22px;color: #113d7a;}
h2 { font-size: 18px; color: #113d7a;}
h3 { font-size: 16px; color: #0e2f5d;}
p { font-size: 15px; color: #555555;}
a { color: #777777; text-decoration: none; border: none;}

a img { border: none; }

/* Wrappers ////////////////////////////////////////////// */

#navBarWrapper {
	height: 80px;
	background-color: #f3f8ff;
	background-color: transparent;
	position: absolute;
	top: 0px;
	width: 100%;
}

#contentsWrapper {

	border-color: #dbedf5;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;

	position: relative;
	top: 80px;
	padding-top: 5px;
	width: 100%;
	background-color: #fefffe;
	min-height: 500px;
	display: block;
	clear: both;
}

#footerBarWrapper {
	position: relative;
	top: 80px;
	border-color: #b4b4bc;
	border-style: solid;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
	height: 30%;
}

/* Content ////////////////////////////////////////////// */

#contents {
	width: 80%;
	height: auto;
	max-width: 900px;
	min-width: 800px;
	overflow: hidden;
}

/* Header ////////////////////////////////////////////// */

#navBar {
	height: 100%;
	width: 80%;
	max-width: 900px;
	min-width: 800px;
}

#navBar a:link {text-decoration: none; color: black; }
#navBar a:visited {text-decoration: none; color: transparent; }
#navBar a:active {text-decoration: none; color: transparent; }
#navBar a:hover {text-decoration: none; color: transparent; }

#navBar #logo {
	float: left;
	width: 256px;
	height: 60px;
	margin-top: 10px;
	color: transparent;
}

/*
#navBar .menu_item {
	color: #4f698a;
	text-decoration: none;
	display: block;
	float: right;
	margin-top: 50px;
	padding-right: 10px;
	padding-left: 10px; 
	cursor: pointer;
}

*/

#navBar .menu_item {
	color: #000000;
	text-decoration: none;
	width: 77px;
	height: 100%;
	display: block;
	float:right;
	padding-right: 5px;
	cursor: pointer;
}

#navBar .menu_text {
	font-size: 18px;
	margin-top: 55px;
}

#navBar .menu_item:hover {
	color: #ffffff;	
	background-image: url('images/nav_hover_3.png');
	background-repeat: no-repeat;
}

#navBar .menu_selected_item {
	background-image: url('images/nav_hover_3.png');
	background-repeat: no-repeat;
	color: #ffffff;	
}


/* Footer bar ////////////////////////////////////////////// */

#footerBar {
	width: 80%;
	max-width: 900px;
	min-width: 800px;
}

#footerBar .coming_soon {
	color: red;
	font-size: 9px;
	padding-left: 5px;
}

#footerBar p { font-size: 9px; padding: 0; margin: 0; margin-bottom: 3px}
#footerBar h3 { font-size: 14px; padding: 0px; margin: 0; margin-bottom: 3px; margin-top: 5px;}

#footerBar a { font-size: 12px; color: #052f5d !important}
#footerBar a:link {text-decoration: none; color: black; }
#footerBar a:visited {text-decoration: none; color: transparent; }
#footerBar a:active {text-decoration: none; color: transparent; }
#footerBar a:hover {text-decoration: none; color: gray !important; }

#copyFooter {
	padding-top: 10px;
	font-size: 12px;	
	color: #828282;
	height: 15px;
}

/* Blog page ////////////////////////////////////////////// */

#BlogPage .postTitle a {
	font-size: 20px;
	color: #154a94 !important;
}

#BlogPage .postDate {
	font-size: 14px;
	color: #389ceb;
}

/* Signup page ////////////////////////////////////////////// */

#SignupPage {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: #e1e1e1;
	padding: 20px;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #a4a4ae;
	
/* 	background-color: #d8d9e5; */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	behavior: url(border-radius.htc);
}

#SignupPage #eulaPanel {
	height: 500px;
	overflow: auto;
}

/*
#SignupPage .rightCol {
	float: left;
	width: 440px;
	height: 400px;
	padding-left: 10px;
}

#SignupPage .leftCol {
	float: left;
	width: 440px;
	height: 400px;
	padding-right: 10px;
}
*/

#SignupPage .themeInfoWrapper {
	height: 110px;
	padding-left: 165px;
}

#SignupPage .themeTitle {
	color: #032f5d;
	font-weight: bold;
}


#SignupPage .price {
	padding-left: 5px;
	font-size: 16px;
	color: #0b6a13;
	font-weight: bold;
}

#SignupPage .siteLink {
	font-size: 16px;
	color: #0b6a13;
	clear: both;
	display: block;
}

#SignupPage .emailValidity {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-left: 10px;
}
#SignupPage .emailValid{ background-image: url('/admin/images/button_ok.png');	}
#SignupPage .emailInvalid { background-image: url('/admin/images/button_cancel.png');}

#SignupPage .accountAvailability {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-left: 10px;
}
#SignupPage .accountFree{ background-image: url('/admin/images/button_ok.png');	}
#SignupPage .accountTaken { background-image: url('/admin/images/button_cancel.png');}


#SignupPage .infoText {
	font-size: 10px;
}

#SignupPage .dataWrapper {
	width: 100%;
	margin-bottom: 5px;
}

#SignupPage .dataLabel {
	width: 150px;
	display: inline-block;	
	font-size: 15px; 
	color: #555555;	
}

#SignupPage .dataValue {
	width: 180px;
	margin-right: 10px;
	color: #435e80;
}


#SignupPage .dataValueDisabled {
	border-color: #b0b0b0;
	border-width: 1px;
	border-style: solid;
	width: 180px;
	margin-right: 10px;
	background-color: #c1c4c4 !important;
	display: inline-block;
	height: 15px;
	padding-left: 3px;
	color: #435e80;
	padding-top: 1px;
	
}

#SignupPage .countrySelect {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

#SignupPage .cardTypeIcon {
	display: inline-block;
	width: 44px;
	height: 23px;
	float: right;
	margin-right: 105px;	
	background-repeat: no-repeat;
}

#SignupPage .visa {
	background-image: url('/admin/images/creditcard_visa.png');
}


#SignupPage .mastercard {
	background-image: url('/admin/images/creditcard_mastercard.png');
}

#SignupPage .amex {
	background-image: url('/admin/images/creditcard_american_express.png');
}


#SignupPage .cardType {
	width: auto;
	display: inline-block;		
	padding: 0;	
	margin: 0;
	margin-left: -4px;
}

#SignupPage .expMonth {
	width: auto;
	display: inline-block;		
	padding: 0;	
	margin: 0;
	margin-left: -4px;
}

#SignupPage .expYear {
	width:auto;
	display: inline-block;	
	padding: 0;	
	margin: 0;
}

#SignupPage .cardType {
}

#SignupPage .cardTypeValue {
	width: 50px;
	margin-right: 10px;
	color: #435e80;
}

#SignupPage .cardExpValue {
	width: 50px;
	margin-right: 10px;
	color: #435e80;
}

#SignupPage select {
	border-color: #b0b0b0;
	border-width: 1px;
	border-style: solid;
	background-color: #d8d8d8;
	width: 100%;
	height: 18px;
	padding-left: 3px;
	/*max-width: 400px;*/
	font-family: Arial, Arial, Helvetica, sans-serif;
	color: #435e80;
}

#SignupPage input {
	border-color: #b0b0b0;
	border-width: 1px;
	border-style: solid;
	background-color: #d8d8d8;
	width: 100%;
	height: 16px;
	padding-left: 3px;
	/*max-width: 400px;*/
	font-size: 12px;
	font-family: Arial, Arial, Helvetica, sans-serif;
	color: #435e80;
}

#SignupPage textarea {
	width: 100%;
	/*min-height:100px;*/
	height: 50px;
	/*max-width: 400px;*/
	font-family: Arial, Arial, Helvetica, sans-serif;
	color: #d8d8d8;
	font-size: 12px;
	padding-left: 5px;
	cursor: text;
}

#SignupPage .themeImage {
	display: block;
	width: 150px;
	height: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
}

#SignupPage .SignupButton {
	font-size: 18px;
	margin-top: 25px;
	margin-left: 190px;
}

#SignupPage .domain {
	padding-left: 0;
	margin-left: 0;
	font-size: 14px;
	color: #435e80;
}
#SignupPage .usernameValue{
	padding-right: 0;
	margin-right: 0 !important;
	/* text-align: right; */
	background-color: #d8d8d8;
}

/* Theme page ////////////////////////////////////////////// */

.ApolloButton {
	font-family:"Arial",verdana,helvetica,sans-serif;
	font-size: 14px;
	background-color: #1a5591;
	color: white;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #0c2a48;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 6px;
	text-align: center;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);	
}

.ApolloButton:hover {
	background-color: #2880c1;
}

.themeWrapper {
	height: 200px;
}

.themeText {
	display: block;
	width: 400px;
	float: left;
	padding-left: 15px;
}

.themeImage {
	display: block;
	width: 300px;
	height: 200px;
	float: left;
	
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
}

.templateWrapper {
	display: inline-block;
	background-color: #e6e6e6;
	width: 380px;
	padding: 5px;
	margin: 3px;
	
	border: 1px solid #d7d7d7;

	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	behavior: url(border-radius.htc);
	
}

.templateTextWrapper {
	display: block;
	float: left;
	width: 315px;
	height: 50px;
}

.templateImage {
	display: block;
	float: left;
	width: 50px;
	
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	
}

.templateName {
	color: #386b93;
	padding-bottom: 3px;
	padding-left: 5px;
}

.templateDescription {
	color: #3f4040;
	padding-bottom: 3px;
	padding-left: 5px;
}

.colorBox {
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	cursor:pointer
}

.thumbBox {
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	cursor:pointer;
	display: block;		
}