@charset "UTF-8";

html {
	overflow-y: auto;
	overflow-x: hidden;
} 

body, html {
	margin:0;
	padding: 0;
	font-family:"Arial",verdana,helvetica,sans-serif;
	width:100%;
	height:100%;
/*	background-color: #fefffe;	*/
	background-color: #e0e1ea;	
}

body,td,th { color: #000000;}

/* Global fonts ////////////////////////////////////////////// */

h1 { font-size: 22px;color: #113d7a;}
h2 { font-size: 18px; color: #113d7a;}
h3 { font-size: 16px; color: #0e2f5d;}
p { font-size: 15px; color: #555555;}
a { color: #777777; text-decoration: none; border: none;}

a img { border: none; }

/* Wrappers ////////////////////////////////////////////// */

#navBarWrapper {
	height: 80px;
	background-color: #f3f8ff;
	background-color: transparent;
	position: absolute;
	top: 0px;
	width: 100%;
}

#contentsWrapper {

	border-color: #dbedf5;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;

	position: relative;
	top: 80px;
	padding-top: 5px;
	width: 100%;
	background-color: #fefffe;
	min-height: 500px;
	display: block;
	clear: both;
}

#footerBarWrapper {
	position: relative;
	top: 80px;
	border-color: #b4b4bc;
	border-style: solid;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
	height: 30%;
}

/* Content ////////////////////////////////////////////// */

#contents {
	width: 80%;
	height: auto;
	max-width: 900px;
	min-width: 800px;
	overflow: hidden;
}

/* Header ////////////////////////////////////////////// */

#navBar {
	height: 100%;
	width: 80%;
	max-width: 900px;
	min-width: 800px;
}

#navBar a:link {text-decoration: none; color: black; }
#navBar a:visited {text-decoration: none; color: transparent; }
#navBar a:active {text-decoration: none; color: transparent; }
#navBar a:hover {text-decoration: none; color: transparent; }

#navBar #logo {
	float: left;
	width: 256px;
	height: 60px;
	margin-top: 10px;
	color: transparent;
}

/*
#navBar .menu_item {
	color: #4f698a;
	text-decoration: none;
	display: block;
	float: right;
	margin-top: 50px;
	padding-right: 10px;
	padding-left: 10px; 
	cursor: pointer;
}

*/

#navBar .menu_item {
	color: #000000;
	text-decoration: none;
	width: 77px;
	height: 100%;
	display: block;
	float:right;
	padding-right: 5px;
	cursor: pointer;
}

#navBar .menu_text {
	font-size: 18px;
	margin-top: 55px;
}

#navBar .menu_item:hover {
	color: #ffffff;	
	background-image: url('images/nav_hover_3.png');
	background-repeat: no-repeat;
}

#navBar .menu_selected_item {
	background-image: url('images/nav_hover_3.png');
	background-repeat: no-repeat;
	color: #ffffff;	
}


/* Footer bar ////////////////////////////////////////////// */

#footerBar {
	width: 80%;
	max-width: 900px;
	min-width: 800px;
}

#footerBar .coming_soon {
	color: red;
	font-size: 9px;
	padding-left: 5px;
}

#footerBar p { font-size: 9px; padding: 0; margin: 0; margin-bottom: 3px}
#footerBar h3 { font-size: 14px; padding: 0px; margin: 0; margin-bottom: 3px; margin-top: 5px;}

#footerBar a { font-size: 12px; color: #052f5d !important}
#footerBar a:link {text-decoration: none; color: black; }
#footerBar a:visited {text-decoration: none; color: transparent; }
#footerBar a:active {text-decoration: none; color: transparent; }
#footerBar a:hover {text-decoration: none; color: gray !important; }

#copyFooter {
	padding-top: 10px;
	font-size: 12px;	
	color: #828282;
	height: 15px;
}

/* Blog page ////////////////////////////////////////////// */

#BlogPage .postTitle a {
	font-size: 20px;
	color: #154a94 !important;
}

#BlogPage .postDate {
	font-size: 14px;
	color: #389ceb;
}

/* Signup page ////////////////////////////////////////////// */

.rightCol {
	display: inline-block;
	float: left;
	width: 50%;
	height: 400px;
	background-color: green;
}

.leftCol {
	display: inline-block;
	float: left;
	width: 50%;
	height: 400px;
	background-color: blue;
}

/* Theme page ////////////////////////////////////////////// */

.ApolloButton {
	font-family:"Arial",verdana,helvetica,sans-serif;
	font-size: 14px;
	background-color: #1a5591;
	color: white;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #0c2a48;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 6px;
	text-align: center;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);	
}

.ApolloButton:hover {
	background-color: #2880c1;
}

.themeWrapper {
	height: 200px;
}

.themeText {
	display: block;
	width: 400px;
	float: left;
	padding-left: 15px;
}

.themeImage {
	display: block;
	width: 300px;
	height: 200px;
	float: left;
	
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
}

.templateWrapper {
	display: inline-block;
	background-color: #e6e6e6;
	width: 380px;
	padding: 5px;
	margin: 3px;
	
	border: 1px solid #d7d7d7;

	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	behavior: url(border-radius.htc);
	
}

.templateTextWrapper {
	display: block;
	float: left;
	width: 315px;
	height: 50px;
}

.templateImage {
	display: block;
	float: left;
	width: 50px;
	
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	
}

.templateName {
	color: #386b93;
	padding-bottom: 3px;
	padding-left: 5px;
}

.templateDescription {
	color: #3f4040;
	padding-bottom: 3px;
	padding-left: 5px;
}

.colorBox {
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	cursor:pointer
}

.thumbBox {
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	cursor:pointer;
	display: block;		
}