
html{
	margin:0;
	padding: 0;
	height: 100%;
} 

html, body {
/*	font-family: Arial, Helvetica; */
	font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 11px;
	background-color: #b3b3b3;
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
}

#MenuBar{
	margin-bottom: 10px;
	width: 90%;
	height: 30px;
	border: 1px solid black;
	background-color: #cccccc;
	left: 150px;
	position: absolute;
	top: 0px;
}

.ViewFrame {
	background-color: #f3f2f1;
	font-size: 12px;
	color: black;
	border: 1px solid black;
	margin: 0px;
	padding: 0;
	width: 98%;
	height: 95%;
	/*border: medium double rgb(250,0,255);*/
}

#Content {	
	width: 100%;
	height: 100%;
	min-width: 1000px;
	padding: 0px;
	margin: 0px;
}

#MainContent {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}


#debug_txt {
	display: none;
	position: absolute;
	padding: 5px;
	overflow: auto;
	top: 20px;
	left: 20px;
	width: 500px;
	height: 500px;
	background-color: black;
	z-index: 9999;
	border: medium double gray;	
	filter: alpha(opacity=60);
	-moz-opacity:.60;
	opacity:.60;	
}

#bgFade {
	position: absolute;
	width: 100%;
	height: 100%;
	left: -999em;
	filter: alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
}

/* Sub-Frame box //////////////////////////////////////////// */

.subframebox .title {
	background-color: #b8bfc8;
	width: 100%;
	display: block;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
/*
	background-color: #d5dde5;
	border-color: #a3a3a3;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: #d5dde5; 
	font-size: 14px;
	padding: 3px;
	padding-bottom: 0px;
*/
}

.subframebox {
	background-color: #d5dde5;
	border-color: #a3a3a3;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.subframebox h3 {
	margin: 0;
	padding: 0;
}


/* Basic dialog box //////////////////////////////////////////// */

.dialogBox {
	border-width: 2px;
	border-color: #1c585d;
	border-style: solid;
	background-color: #96d5f5;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 500px;
	z-index: 900;
}


#status_txt {
/*
	position: absolute;
	left: 50%;
	top: 20px;
*/	
	z-index: 100;
}

/* Tabs //////////////////////////////////////////// */


#menu_container {
	width: 97%;
	height: 25px;
	display: block;
	padding: 0px;
	margin: 0px;
	padding-top: 5px;
}

#menu_container .menu_item {		
	width: 100px;
	height: 20px;
	float: left;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	padding-top: 3px;
	margin-left: 5px;
	padding-left: 5px;
	background-color: #999999;
	cursor: pointer;
	text-align: center;
}

#menu_container .menu_item:hover {
	background-color: #f3f2f1;
}

#menu_container .menu_item.selected {
	background-color: #f3f2f1;
}

#menu_container .menu_link {		
	width: 60px;
	height: 20px;
	float: left;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	padding-top: 3px;
	margin-right: 5px;
	cursor: pointer;
	float: right;
	text-align: right;
	color: #00007a;
}	

#menu_container .menu_link:hover {
	color: #f3f2f1;
}

#menu_container .menu_link.selected {
	color: white;
}
