
html{
	margin:0;
	padding: 0;
	height: 100%;
} 

html, body {
	font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 11px;
	background-color: #c8c8c8;
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
}

.ViewFrame {
	background-color: #f3f2f1;
	font-size: 12px;
	color: black;	
	border: 1px solid black;
	margin: 0px;
	padding: 0px;
	width: 99%;
	height: 100%;	
	text-align: left;
	clear: both;
	display: none;
	/*border: medium double rgb(250,0,255);*/
}

#ContentWrapper {	
	width: 100%;
	height: 100%;
	min-width: 1000px;
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
}

#Content {	
	width: auto;
	height: 100%;
	margin-left: 180px;
}

#MainContents {
	width: 99%;
	height: 100%;
}

#apollo_loading_display {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 999;
	font-size: 12px;
	color: black;
}

#apollo_loading_display .loading_box {
/*
	border-color: #4c4c4c;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	padding: 20px;	
*/
}


#menu_container .user_message {		
	height: 20px;
	float: left;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	padding-top: 3px;
	margin-right: 15px;
	float: right;
	text-align: right;
	color: #2b93e6;
	font-size: 11.5px;
	overflow: none;
}	


#debug_txt {
	display: none;
	position: absolute;
	padding: 5px;
	overflow: auto;
	top: 20px;
	left: 20px;
	width: 500px;
	height: 500px;
	background-color: black;
	z-index: 9999;
	border: medium double gray;	
	filter: alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;	
}

.transparent_20 {filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2; opacity: 0.2;}
.transparent_30 {filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
.transparent_50 {filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
.transparent_70 {filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.transparent_90 {filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;}

.apollo_light_blue { color: #129beb; }
.apollo_dark_blue { color: #032f5d;}

#apollo_logo {
	position: absolute;
	top: 5px;
	left: 10px;
	background-color: transparent;
}

.status_draft { color: #2c6c11;}
.status_private { color: #990000;}
.status_public { color: #233c57;}
.status_spam { color: #233c57;}
.status_trash { color: #233c57;}

/*
.select_option_public { background-color: #233c57 !important; color: white !important}
.select_option_private { background-color: #990000 !important; color: white !important}
.select_option_draft { background-color: #2c6c11 !important; color: white !important}

.select_option_public:hover { background-color: #233c57 !important;}
.select_option_private:hover { background-color: #990000 !important;}
.select_option_draft:hover { background-color: #2c6c11 !important;}
*/

/* Main Frame Styles //////////////////////////////////////// */
/*
.ui-widget-overlay {
    background-color: black;
    filter: alpha(opacity=30);
    -moz-opacity:.30;
    opacity:.30;
}
*/
.frameControlsBar {
	/*margin: 3px;*/
	border: none;
	margin-top: 5px;	
	font-size: 16px;
	height: 25px;
	padding-top: 3px;
}

.frameControlsBar .label {
	padding-left: 5px;
	padding-right: 3px;
}

.frameControlsBar input {
	width: 400px;
	color: #032f5d;
}

.frameContents {
	padding-left: 10px;
}

.frameTitle {
	font-size: 16px;
	color: #032f5d;
	margin-top: 5px;
	margin-bottom: 10px;
	display: block;
}

/* Tabs //////////////////////////////////////////// */


#menu_container {
	width: 99%;	
	height: 25px;
	display: block;
	padding: 0px;
	margin: 0px;
	/* margin-top: 10px; */
}

#menu_container .menu_item {		
	color: white;		
	padding: 0px;
	margin: 0px;
	/*width: 75px;*/
	min-width: 50px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	float: left;
	font-size: 13px;
	margin-top: 1px;
	padding-top: 3px;
	margin-left: 5px;
	/*background-color: #999999;*/
	background-color: #5d5d5d;
	color: #acd6eb;
	cursor: pointer;
	text-align: center;		
	border-color: black;
	border-style: solid;
	border-width: 1px;	
	border-bottom-width: 0px;
}

/* Special case, title too long to fit */
#menu_container .client_gallery_title {
	font-size: 11px;
	height: 18px;
	padding-top: 5px;
}

#menu_container .menu_item:hover {
	background-color: #bebebe;
	color: #032f5d;	
}

#menu_container .menu_item.selected {
	border-bottom-color: #f3f2f1;
	border-bottom-style: solid;
	background-color: #f3f2f1;
	color: #032f5d;
	/*border-color: #f3f2f1;
	border-bottom-width: 1px;*/
}

#menu_container .menu_site_selector {
	float:right; 
	margin-right:20px; 
	margin-top:3px;
		
	border-color: #797979;
	border-width: 1px;
	border-style: solid;
	color: #acd6eb;
	width: 136px;
	background-color: #5d5d5d;
	overflow: hidden;	
}

#menu_container .menu_link {		
	width: 60px;
	height: 20px;
	float: left;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	padding-top: 3px;
	margin-right: 5px;
	cursor: pointer;
	float: right;
	text-align: right;
	color: #00007a;
}	

#menu_container .menu_link:hover {
	color: #f3f2f1;
}

#menu_container .menu_link.selected {
	color: white;
}

#menu_container a { text-decoration: none; }
#menu_container a:hover { text-decoration: none; }

/* Parameter editing //////////////////////////////////////// */

.paraTitle {
	color: #386b93;
	display: block;
	padding-bottom: 3px;
}

.paraDesc {
	color: #3f4040;
	display: block;
	padding-bottom: 3px;
}
.colorBox {
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	cursor:pointer
}

.thumbBox {
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	cursor:pointer;
	display: block;		
}

/* Sub-Frame box //////////////////////////////////////////// */

.page_icon {
}

.node_icon {
}

/* Sub-Frame box //////////////////////////////////////////// */

.subframebox {
	background-color: #d5dde5;
	border-color: #a3a3a3;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*margin-right: 5px;
	padding-bottom:20px;*/
	-moz-border-radius: 3px;
	border-radius: 3px;	
	display: block;
}

.subframebox .subFrameCommand {
    font-size: 10.5px !important;
    color: #2c2e80;
    cursor: pointer;
    margin-bottom: 2px;
}

.subframebox .subFrameCommand:hover { color: #d6e1e6;}
.subframebox .selected { color: #d6e1e6;}

.subframebox .title {
	background-color: #b8bfc8;
	width: 100%;
	display: block;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
/*
	background-color: #d5dde5;
	border-color: #a3a3a3;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: #d5dde5; 
	font-size: 14px;
	padding: 3px;
	padding-bottom: 0px;
*/
}

.subframebox h3 {
	margin: 0;
	padding: 0;
}

.subframebox input {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	width: 130px;
	background-color: #bec6d3;
	overflow: hidden;
	color: #386b93;
	padding-left: 3px;
}

.subframebox select {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	color: #386b93;
	width: 136px;
	background-color: #bec6d3;
	overflow: hidden;
}

.subframebox textarea {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	color: #386b93;
	width: 136px;
	background-color: #bec6d3;
	cursor: pointer;
}
/*
.frame_control_bar {
	width: 100%;
	height: 25px;
	padding-top: 3px;
	padding-left: 5px;
}
*/
.delete_button {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	color: white;
	background-color: maroon;
	font-size: 12px;
	cursor: pointer;
}
.delete_button:hover { color: white; background-color: red }


.save_button {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	color: white;
	background-color: green;
	font-size: 12px;
	cursor: pointer;
}
.save_button:hover { color: white; background-color: #5cd611 }


.cancel_button {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	color: white;
	background-color: #032f5d;
	font-size: 12px;
	cursor: pointer;	
}
.cancel_button:hover { color: white; background-color: #0358b1 }

.basic_button {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	color: white;
	background-color: #032f5d;
	font-size: 12px;
	cursor: pointer;
}
.basic_button:hover { color: white; background-color: #0358b1 }

/*
.subframebox button {
	border-color: #a9b1bc;
	border-width: 1px;
	border-style: solid;
	color: #386b93;
	background-color: #bec6d3;
	font-size: 14px;
	cursor: pointer;
}
.subframebox button:hover { background-color: red }
*/

/* Basic dialog box //////////////////////////////////////////// */

.dialogBox {
	border-width: 2px;
	border-color: #1c585d;
	border-style: solid;
	background-color: #96d5f5;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 500px;
	z-index: 900;
}


#status_txt {
/*
	position: absolute;
	left: 50%;
	top: 20px;
*/	
	z-index: 100;
}

