#apolloBlogImporter .importProgress {
	color: blue;
	padding-bottom: 5px;
}

#apolloBlogImporter .label {
	color: black;
	padding-bottom: 5px;
	padding-right: 10px;
}

#apolloBlogImporter input {
	border-color: #3b3b3b;
	border-width: 1px;
	background-color: #989898;
	color: #f2f9ff;
	padding-left: 3px;
}


/** Comments ......................... */

#DashboardFrame .commentWrapper {
    margin: 10px;
    background-color: #97a8c8;
    border: 1px solid #74829b;
}

#DashboardFrame .commentSummary {
	color: #103160;
}

#DashboardFrame .commentPostTitle {
	color: #1a5ea0;
	font-weight: bold;
}

#DashboardFrame .commentTitle {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #dae0eb;
}

#DashboardFrame .commentContents {
    padding: 5px;
}

#DashboardFrame .commentEdit {
    color: #ae0009;
    font-size: 10px;
    padding-left: 5px;
    float: right;
}

#DashboardFrame .commentEdit:hover {color: #e9020e}

#DashboardFrame .commentName {
	color: #1a5ea0;
	font-weight: bold;
}

#DashboardFrame .commentDate {
	color: gray;
}

#DashboardFrame .pending_comment { 
	background-color: #f4f4f4; 
}

#DashboardFrame .trashed_comment { 
	filter: alpha(opacity=60);
	-moz-opacity:.60;
	opacity:.60;	
}

#DashboardFrame .spam_comment {}
#DashboardFrame .approved_comment {}

/** Followers table .......................... */

#followerTable {
	width: 95%;
	padding-top: 10px;
}

#followerTable .head {
	background-color: white;
	height: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#followerTable .even {
	background-color: #d0d6e6;
}

#followerTable .odd {
	background-color: #bec7d6;
}
