
#FilesFrameContent {
	width: 100%;
	height: 100%;
}

#FilesFrameContent .thumbwrapper {
	width: 60px;
	height: 60px;
	margin: 5px;	
	float: left;
/*	text-align: center; */
}

#FilesFrameContent .thumbtitle {
	font-size: 8px;
	overflow: hidden;
	text-align: center;
	width: 80px;
	display: block;
}

#FilesFrameContent .thumb {
	
	border-width: 4px;
	border-style: solid;
	/*border-color: #cccccc;*/
	border-color: white;
	background-color: #d9dcdc;
	
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

/* Folder Pop-up context menu /////////////////////////// */

#FilesFrameContent .rightClickMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none; 
}

#FilesFrameContent .rightClickMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#FilesFrameContent .rightClickMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

#FilesFrameContent .rightClickMenu LI:hover A {
	color: #FFF;
	background-color: #3399FF;
}

#FilesFrameContent .rightClickMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

#FilesFrameContent .rightClickMenu LI.hover.disabled A {
	background-color: transparent;
}

#FilesFrameContent .rightClickMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

#FilesFrameContent .rightClickMenu LI.edit A { background-image: url('../../images/menu_images/page_white_edit.png'); }
#FilesFrameContent .rightClickMenu LI.cut A { background-image: url('../../images/menu_images/cut.png'); }
#FilesFrameContent .rightClickMenu LI.copy A { background-image: url('../../images/menu_images/page_white_copy.png'); }
#FilesFrameContent .rightClickMenu LI.paste A { background-image: url('../../images/menu_images/page_white_paste.png'); }
#FilesFrameContent .rightClickMenu LI.delete A { background-image: url('../../images/menu_images/page_white_delete.png'); }
#FilesFrameContent .rightClickMenu LI.quit A { background-image: url('../../images/menu_images/door.png'); }

/* Flash Upload styles /////////////////////////// */

#flashUploderContent .title {
	background-color: #b8bfc8;
	width: 100%;
	display: block;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
/*
	background-color: #d5dde5;
	border-color: #a3a3a3;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: #d5dde5; 
	font-size: 14px;
	padding: 3px;
	padding-bottom: 0px;
*/
}

#flashUploderContent {
	background-color: #d5dde5;
	border-color: #a3a3a3;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#flashUploderContent h3 {
	margin: 0;
	padding: 0;
}

#flashUploderContent .uploadControls {
	font: 10pt Helvetica, Arial, sans-serif;
	width: 100%;
	margin: 10px;
}

#flashUploderContent .uploadProgress {
	width: 100%;	
	height: 80%;
	overflow: hidden;
	overflow-y: hidden;
}

#flashUploderContent button,
#flashUploderContent input,
#flashUploderContent select,
#flashUploderContent textarea { 
	border-width: 1px; 
	margin-bottom: 10px;
	padding: 2px 3px;
}


#flashUploderContent .progressWrapper {
	width: 357px;
	overflow: hidden;
}

#flashUploderContent .progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
#flashUploderContent .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
#flashUploderContent .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
#flashUploderContent .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
#flashUploderContent .blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

#flashUploderContent .progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

#flashUploderContent .progressBarInProgress,
#flashUploderContent .progressBarComplete,
#flashUploderContent .progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

#flashUploderContent .progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

#flashUploderContent .progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

#flashUploderContent .progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

#flashUploderContent a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../js/3rdparty/SWFUpload/images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

#flashUploderContent a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
