
#GalleryFrameContent {
	width: 100%;
	height: 100%;
}

#GalleryFrameContent .thumbwrapper {
	width: 60px;
	height: 60px;
	margin: 5px;	
	float: left;
/*	text-align: center; */
}

#GalleryFrameContent .thumbtitle {
	font-size: 8px;
	overflow: hidden;
	text-align: center;
	width: 80px;
	display: block;
}

#GalleryFrameContent .thumb {	
	border-width: 4px;
	border-style: solid;
	border-color: white;
	background-color: #d9dcdc;	
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

#GalleryFrameContent .gallery_slot {
	margin: 5px;	
	border-width: 4px;
	border-style: solid;
	border-color: white;
	width: 66px;
	height: 60px;
	background-color: #fffde5;
	display: inline-block;
	float: left;
}

#GalleryFrameContent .gallery_slot_hover { background-color: #e6e4d0 !important;}

#GalleryFrameContent .gallery_thumb {	
}

#GalleryFrameContent .gallery_slot_image {
	border-width: 4px;
	border-style: solid;
	border-color: white;
	padding: 0px;
	margin: 0px;
	width: 54px;
	height: 52px;
}

#GalleryFrameContent .gallery_slot_text{
	font-size: 24px;
	color: gray;
	width: 66px;
	height: 46px;
	padding-top: 14px;
}

#GalleryFrameContent .delete_slot_text {
	font-size: 24px;
	color: white;
	width: 66px;
	height: 41px;
	padding-top: 20px;
	background-color: #ed613c;
	font-size: 14px;
}

#GalleryFrameContent #apollo_image_contents {
	height: auto;
}

#GalleryFrameContent #apollo_gallery_contents {
	height: auto;
	background-color: gray;
}

/*
#apollo_gallery_edit {
	width: 100%;
	font-family: Arial, Arial, Helvetica, sans-serif;
}

#apollo_gallery {
	padding-right: 30px;
}

#apollo_gallery .multicontrols {
	width: 100%;
	padding-bottom: 5px;
}

#apollo_gallery .gallery_meta_thumb {
	width: 30px;
	height: 30px;
	border-style: solid;
	border-color: #6b6b6b;
	border-width: 3px;
	background-color: #ededed;
	display: block;
}

#apollo_gallery_edit .box {
	border-width: 1px;
	padding: 5px;
	margin: 0px;
	border-style: solid;
	border-color: #6b6b6b;
	background-color: #ededed;
	width: 100%;
	min-height: 200px;
	min-width: 900px;
	width: 100%;
	height: auto;
}

#apollo_gallery_edit .box_title {
	color: #24628a;
	font-size: 16px;
	font-style: normal;
}

#apollo_gallery_edit h2 {
	font-family: Arial, Arial, Helvetica, sans-serif;
	color: #24628a;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.colorBox {
	width: 20px;
	height: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #cccccc;			
}



#apollo_stats_view .stat_field {
	color: #14608a;
}

#apollo_stats_view .stat_value {
	padding-left: 3px;
}
*/