
#PagesFrame fieldset {
	padding-left: 5px;
	/*margin: 3px;*/
	border: none;
	margin-top: 15px;	
	font-size: 12px;
	display: block;	
}


#PagesFrame .pageLabel {
	color: #3f4040;
	width: 80px;
	display: inline-block;
}

#PagesFrame .pageData {
	color: #386b93;
	width: 170px;
}

#PagesFrame .pageInfoLine {
	padding-bottom: 10px;
	height: auto;
}

#PagesFrame .customPageLabel {
	color: #3f4040;
	width: 100%;
	display: inline-block;
}

#PagesFrame .customPageData {
	color: #386b93;
	width: 100%;
}