
#PostsFrame fieldset {
	padding-left: 5px;
	/*margin: 3px;*/
	border: none;
	margin-top: 15px;	
	font-size: 12px;
}


#PostsFrame .subframebox .postLabel {
	color: #3f4040;
	width: 80px;
	float: left;
	display: inline-block;	
}

#PostsFrame .subframebox .postData {
	color: #386b93;
	width: 150px;
	overflow: hidden;
	float: left;
	display: inline-block;	
}

#PostsFrame .subframebox input {
	width: 140px;
}

#PostsFrame .subframebox select {
	width: 140px;
}

#PostsFrame .subframebox .postInfoLine {
	padding-bottom: 10px;
	height: auto;
	display: inline-block;	
}

#PostsFrame .subframebox .customPostLabel {
	color: #3f4040;
	width: 100%;
	display: inline-block;
}

#PostsFrame .subframebox .customPostData {
	color: #386b93;
	width: 100%;
}

#PostsFrame .paraTitle {
	color: #386b93;
	display: block;
	padding-bottom: 3px;
}

#PostsFrame .paraDesc {
	color: #3f4040;
	display: block;
	padding-bottom: 3px;
}

/*
#PostsFrame .postRemoveTagCat {
	font-size: 9px;
	color: #990000;
	cursor: pointer;
	padding-left: 5px;
}
#PostsFrame .postRemoveTagCat:hover {
	color: white;
}
*/

#PostsFrame .postRemoveTagCat {
	background-image: url('../../images/delete.png');
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;	
	width: 15px;
	height: 15px;
	float: left;
}

#PostsFrame .postTagCat {
	float: left;
}

#PostsFrame .postTagCatLine {
	color: #00204b;
	display: inline-block;
	margin-right: 6px;
	padding: 3px;
	padding-left: 5px;	
	padding-right: 5px;	
	background-color: #afb9c9;
	-moz-border-radius: 8px;
	border-radius: 8px;	
}