#apolloSelectPage .templateThumbBox {
	width: 60px;
	height: 60px;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7;	
	cursor:pointer;
	display: block;		
}

#apolloSelectPage .templateTitle {
	color: #386b93;
	display: block;
	padding-bottom: 3px;
	margin-left: 5px;	
}

#apolloSelectPage .templateDesc {
	color: #3f4040;
	display: block;
	padding-bottom: 3px;
	margin-left: 5px;
}

#apolloSelectPage .templateTable {
	width: 300px;
	display: inline-block;
	margin: 5px;
}