
#SideBar {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 180px;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#SideBar .spacer {
	height: 30px;
	width:10px;
	display: block;
}

#SideBar p {
    padding-left: 10px;
    font-size: 14px;
}

#SideBar .add_new_project {
    font-size: 10px;
    color: #990000;
    cursor: pointer;
    text-decoration: none;
}

#SideBar .add_new_project:hover {
    color: white;
}

#SideBar .more_posts_pages {
    font-size: 9px;
    color: #4c4c4c;
}

#SideBar .more_posts_link {
    font-size: 10px;
    color: #00315f;
    cursor: pointer;
}

#SideBar .more_posts_link:hover {
    color: #006fdc;
}

#SideBar .sidebar_page_controls {
	height:20px;
	width: 100%;
	/*
	position: absolute;
	bottom: 50px;
	*/
}
/*
#apollo_folder_list {
	background-color: yellow;
}

#apollo_tag_list {
	background-color: #e8ea01;
}
*/

/* SideBar Projects /////////////////////////////// */

#SideBar_Projects {
}

/* SideBar Users /////////////////////////////// */

#SideBar .page {
    padding: 0;
    /* To stop line wrap */
    white-space: nowrap;
    overflow:hidden;
    width:160px;
}

#SideBar .page:hover {
    color: white;
    cursor: pointer;
}

#SideBar .page_depth_0 { padding-left: 10px;}
#SideBar .page_depth_1 { padding-left: 25px; }
#SideBar .page_depth_2 { padding-left: 40px; }
#SideBar .page_depth_3 { padding-left: 55px; }

#SideBar .page_name {
    padding: 0;
    position: relative;
    padding-left: 3px;
    top: -6px;
    font-size: 12px;
    cursor: pointer;
}

#SideBar .page_name:hover {
    color: white;
    cursor: pointer;
}

#SideBar .page_icon{
    padding: 0;
}

#SideBar .folder_filter {
    padding-left: 10px;
    padding-top: 3px;
}

#SideBar .folder_filter:hover {
    color: white;
    cursor: pointer;
}

#SideBar .selected {
    color: #f3f2f1 !important;
}

#SideBar .folder_filter_name {
    position: relative;
    padding-left: 5px;
    top: -2px;
}

#SideBar .folder_fav_name {
    position: relative;
    padding-left: 0px;
    top: -8px;
    font-size: 12px;
    cursor: pointer;
}

#SideBar .folder_fav_icon {
    position: relative;
   	left: -3px;
}

#SideBar .folder_name:hover {
    color: white;
    cursor: pointer;
}

#SideBar .folder_name_hover {
    color: black;
    background-color: #c3d3df;
}


#SideBar .folder_name {
    position: relative;
    padding-left: 5px;
    top: -8px;
    font-size: 12px;
    cursor: pointer;
}


#SideBar .folder_filter_icon {
}

#SideBar .folder {
    margin-left: 5px;
    padding-top: 3px;
}

#SideBar .tag_icon {
	padding-left: 5px;
}

#SideBar .switch_to_folder_view_name {
    position: relative;
    padding-left: 5px;
    top: -6px;
    font-size: 12px;
    cursor: pointer;
}
#SideBar .switch_to_folder_view_name:hover { color: white; cursor: pointer;}


#SideBar .tag_name {
    position: relative;
    padding-left: 5px;
    top: -8px;
    font-size: 12px;
    cursor: pointer;
}
#SideBar .tag_name:hover { color: white; cursor: pointer;}
#SideBar .tag_name_hover { color: black; background-color: #c3d3df;}

#SideBar .tag {
    margin-left: 5px;
}

#SideBar .folder_view_change_icon {
    position: relative;
    padding-left: 1px;
    top: 2px;
    font-size: 12px;
    cursor: pointer;
}

/* Folder Pop-up context menu /////////////////////////// */

#SideBar .rightClickMenu {
    position: absolute;
    width: 120px;
    z-index: 99999;
    border: solid 1px #CCC;
    background: #EEE;
    padding: 0px;
    margin: 0px;
    display: none;
}

#SideBar .rightClickMenu LI {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#SideBar .rightClickMenu A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
}

#SideBar .rightClickMenu LI:hover A {
    color: #FFF;
    background-color: #3399FF;
}

#SideBar .rightClickMenu LI.disabled A {
    color: #AAA;
    cursor: default;
}

#SideBar .rightClickMenu LI.hover.disabled A {
    background-color: transparent;
}

#SideBar .rightClickMenu LI.separator {
    border-top: solid 1px #CCC;
}

/*
	Adding Icons

	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

#SideBar .rightClickMenu LI.edit A { background-image: url('../../images/menu_images/page_white_edit.png'); }
#SideBar .rightClickMenu LI.cut A { background-image: url('../../images/menu_images/cut.png'); }
#SideBar .rightClickMenu LI.copy A { background-image: url('../../images/menu_images/page_white_copy.png'); }
#SideBar .rightClickMenu LI.paste A { background-image: url('../../images/menu_images/page_white_paste.png'); }
#SideBar .rightClickMenu LI.delete A { background-image: url('../../images/menu_images/page_white_delete.png'); }
#SideBar .rightClickMenu LI.quit A { background-image: url('../../images/menu_images/door.png'); }